.git
.gitignore
.idea
.vscode
**/__pycache__
**/*.py[cod]
**/.pytest_cache
**/.mypy_cache
.venv
venv
env
.env
.env.*

data/
xray/

darknight/dashboard/node_modules
darknight/dashboard/dist

docs/
*.md
!darknight/dashboard/README.md

Dockerfile
docker-compose*.yml
.dockerignore
